<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elevate" version="0.1.0" />
  <package id="HttpClient" version="0.5.0" />
  <package id="Ix_Experimental-Main" version="1.1.10823" />
  <package id="JsonValue" version="0.5.0" />
  <package id="Rx-Main" version="1.0.10621" />
  <package id="WebApi" version="0.5.0" />
  <package id="WebApi.All" version="0.5.0" />
  <package id="WebApi.Enhancements" version="0.5.0" />
  <package id="WebApi.OData" version="0.5.0" />
  <package id="wpfthemes" version="0.0.1" />
</packages>